@use 'global';

%message-shared {
  position: relative;
  margin:20px;
  color: green;
  background-color: purple;
}

%equal-heights {
  font-size: larger;
  color: lightcoral;
}

body {
  font: 100% global.$font-stack;
  @include global.theme(DarkRed);
}

h1 {
  color: green;
  background-color: pink;
  text-align: center;
}


h3 {
  @extend %message-shared;
}
