$font-stack: Helvetica, sans-serif;
$b-color: orange;

body {
  font: 100% $font-stack;
  background-color: $b-color;
}

h1 {
  color: blue;
  background-color: pink;
  text-align: center;
}

h3 {
  position: relative;
  margin:20px;
  color: green;
  background-color: purple;
}